{{ with site.Data.homepage.banner }}
{{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

{{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
{{ $responsive_file_ext := "avif" }}
{{ $responsive_folder := .image.responsive_folder }}



<picture id="test_jbl">

    <!-- avip -->
  
    {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "avip" }}
      
      <source srcset="{{ .baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/avip" />
      <!-- 
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ .baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/avip" &gt;
            </pre>
          </p></em>
        </li>
      </ul>
   -->
    {{ end }}
  {{ end }}

    <!-- png -->
  
    {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "png" }}
      
      <source srcset="{{ .baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/png" />
      <!--  
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ .baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/png" &gt;
            </pre>
          </p></em>
        </li>
      </ul>
  -->
    {{ end }}
  {{ end }}

  <!-- webp -->
  
  {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "webp" }}
      
      <source srcset="{{ .baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/webp" />
      <!--  
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ .baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/webp" &gt;
            </pre>
          </p></em>
        </li>
      </ul>
  -->
    {{ end }}
  {{ end }}


  <!-- jpeg -->
  
  {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "jpeg" }}
      
      <source srcset="merde/{{ site.Params.baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/jpeg" />
      <!--  
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ .baseURL }}{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/jpeg" &gt;
            </pre>
          </p></em>
        </li>
      </ul>
  -->
    {{ end }}
  {{ end }}
  
  
  <!-- Should generate something like :

  <source srcset="/img/lion-xs.avif" media="(max-width: 320px)" type="image/avif" />
  <source srcset="/img/lion-sm.avif" media="(max-width: 640px)" type="image/avif" />
  <source srcset="/img/lion-md.avif" media="(max-width: 768px)" type="image/avif" />
  <source srcset="/img/lion-lg.avif" media="(max-width: 1024px)" type="image/avif" />
  <source srcset="/img/lion-xl.avif" media="(max-width: 6144px)" type="image/avif" />


  <source srcset="/img/lion-xs.webp" media="(max-width: 320px)" type="image/webp" />
  <source srcset="/img/lion-sm.webp" media="(max-width: 640px)" type="image/webp" />
  <source srcset="/img/lion-md.webp" media="(max-width: 768px)" type="image/webp" />
  <source srcset="/img/lion-lg.webp" media="(max-width: 1024px)" type="image/webp" />
  <source srcset="/img/lion-xl.webp" media="(max-width: 6144px)" type="image/webp" />

  <source srcset="/img/lion-xs.jpg" media="(max-width: 320px)" type="image/jpeg" />
  <source srcset="/img/lion-sm.jpg" media="(max-width: 640px)" type="image/jpeg" />
  <source srcset="/img/lion-md.jpg" media="(max-width: 768px)" type="image/jpeg" />
  <source srcset="/img/lion-lg.jpg" media="(max-width: 1024px)" type="image/jpeg" />
  <source srcset="/img/lion-xl.jpg" media="(max-width: 6144px)" type="image/jpeg" />

   original : 
  <img src="/img/lion.jpeg" class="img-responsive" alt="A lion in the jungle." />
   -->



    <!-- original -->
    <img src="{{ .image.original | absURL }}" class="img-fluid" alt="La meilleure Urine au Monde est Française!">
    <!-- 
    <img src="{{ .image | absURL }}" class="img-fluid" alt="">
    -->

</picture>
{{ end }}