{{ with site.Data.homepage.banner }}
{{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

{{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
{{ $responsive_file_ext := "avif" }}
{{ $responsive_folder := .image.responsive_folder }}



<h3>responsive_filename_no_ext: {{ $responsive_filename_no_ext }}</h3>
<h3>responsive_file_ext: {{ $responsive_file_ext }}</h3>
<h3>responsive_folder: {{ $responsive_folder }}</h3>
<h3>imgNameRespPrefix: {{ $imgNameRespPrefix }}</h3>
<h2>{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}</h2>
<!-- 
# site.Params.responisiveness.images_ola_test.test2.name
# site.Params.responisiveness.images_ola_test.test2.width
 -->
<p>Responsive Images enabled ? : 
{{ if site.Params.responisiveness.enable }}
  <code>Yes it is enabled</code>
{{ else }}
  <code>NO it is NOT enabled</code>
{{ end }}
</p>
<p>malade</p>
<h2>Here a short test for looping on <code>site.Params.plugins.css</code> params : </h2>
  {{ range site.Params.plugins.css }}
  <p>site.Params.plugins.css : <span>[{{ .link | absURL }}]</span></p>
  {{ end }}
  {{ range site.Params.plugins.css }}
  <a href="{{ .URL | absURL }}">putinnn</a>
  {{ end }}
  {{ range site.Params.plugins.js}}
  <a href="{{ .link | absURL }}">un de mes plugins js</a>
  {{ end }}
  {{ range site.Params.plugins.css}}
  <a href="{{ .link | absURL }}">un de mes plugins css</a>
  {{ end }}

<hr/>       

  <!-- Short test -->
  <h2>Here a short test for <code> looping</code> on <code>config.toml</code>  params</h2>
  {{ range site.Params.responisiveness.images.size_range }}
    <p>imgNameRespSizeRange : {{ .name }}</p>
    <p>imgNameRespSizeRangeWidth : {{ .width }}</p>
  {{ end }}
  <hr/>        
<picture id="test_jbl">

    <!-- avip -->
  
    {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "avip" }}
      
      <source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/avip" />
      <!--    -->
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/avip" &gt;
            </pre>
          </p></em>
        </li>
      </ul>

    {{ end }}
  {{ end }}

    <!-- png -->
  
    {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "png" }}
      
      <source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/png" />
      <!--    -->
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/png" &gt;
            </pre>
          </p></em>
        </li>
      </ul>

    {{ end }}
  {{ end }}

  <!-- webp -->
  
  {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "webp" }}
      
      <source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/webp" />
      <!--    -->
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/webp" &gt;
            </pre>
          </p></em>
        </li>
      </ul>

    {{ end }}
  {{ end }}


  <!-- jpeg -->
  
  {{ range site.Params.responisiveness.images.size_range }}
    {{ $imgNameRespSizeRange := .name }}
    {{ $imgNameRespSizeRangeWidth := .width }}
    {{ with site.Data.homepage.banner }}
      {{ $imgNameRespPrefix := site.Params.responisiveness.prefix }}

      {{ $responsive_filename_no_ext := .image.responsive_filename_no_ext }}
      {{ $responsive_folder := .image.responsive_folder }}
      {{ $responsive_file_ext := "jpeg" }}
      
      <source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/jpeg" />
      <!--    -->
      <ul>
        <li>
          <em>JE VEUX : <p>
            <pre>
              &lt;source srcset="{{ $responsive_folder }}{{ $responsive_filename_no_ext }}{{ $imgNameRespPrefix }}-{{ $imgNameRespSizeRange }}.{{ $responsive_file_ext }}" media="(max-width: {{ $imgNameRespSizeRangeWidth }})" type="image/jpeg" &gt;
            </pre>
          </p></em>
        </li>
      </ul>

    {{ end }}
  {{ end }}
  
  
  <!-- 

  <source srcset="/img/lion-xs.avif" media="(max-width: 320px)" type="image/avif" />
  <source srcset="/img/lion-sm.avif" media="(max-width: 640px)" type="image/avif" />
  <source srcset="/img/lion-md.avif" media="(max-width: 768px)" type="image/avif" />
  <source srcset="/img/lion-lg.avif" media="(max-width: 1024px)" type="image/avif" />
  <source srcset="/img/lion-xl.avif" media="(max-width: 10000px)" type="image/avif" />


  <source srcset="/img/lion-xs.webp" media="(max-width: 320px)" type="image/webp" />
  <source srcset="/img/lion-sm.webp" media="(max-width: 640px)" type="image/webp" />
  <source srcset="/img/lion-md.webp" media="(max-width: 768px)" type="image/webp" />
  <source srcset="/img/lion-lg.webp" media="(max-width: 1024px)" type="image/webp" />
  <source srcset="/img/lion-xl.webp" media="(max-width: 10000px)" type="image/webp" />

  <source srcset="/img/lion-xs.jpg" media="(max-width: 320px)" type="image/jpeg" />
  <source srcset="/img/lion-sm.jpg" media="(max-width: 640px)" type="image/jpeg" />
  <source srcset="/img/lion-md.jpg" media="(max-width: 768px)" type="image/jpeg" />
  <source srcset="/img/lion-lg.jpg" media="(max-width: 1024px)" type="image/jpeg" />
  <source srcset="/img/lion-xl.jpg" media="(max-width: 10000px)" type="image/jpeg" />

   original : 
  <img src="/img/lion.jpeg" class="img-responsive" alt="A lion in the jungle." />
   -->



    <!-- original -->
    <img src="{{ .image.original | absURL }}" class="img-fluid" alt="La meilleure Urine au Monde est Française!">
    <!-- 
    <img src="{{ .image | absURL }}" class="img-fluid" alt="">
    -->

</picture>
{{ end }}